body {
    padding: 0 1.25rem;
    margin: 0.5rem auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    color: var(--text-muted);
    margin: 0;
    font-size: 3rem;
}

header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: contents;
}

header nav ul li {
    flex: 1 1 auto;
}
