<header>
  <h1>Aozhome</h1>

  <nav>
    <ul>
      <li>
        <%= link_to 'Things', things_path %>
      </li>
      <li>
        <%= link_to 'Manufacturers', manufacturers_path %>
      </li>
      <li>
        <%= link_to 'Owners', users_path %>
      </li>
    </ul>
  </nav>
</header>